{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/site-custom.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'js/codemirror-5.22.0/lib/codemirror.css' %}">

    </head>
    <body>
        <div class="container">
            <div class="userbar">
            {% if user.is_authenticated %}
                {% if user.first_name and user.last_name %}
                    {{user.first_name}} {{user.last_name}}
                {% else %}
                    {{user.username}}

                {% endif %}
                <a href="logout">Logout</a>
            {% endif %}
            </div>
        </div>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </body>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/showdown.min.js' %}"></script>
    <script src="{% static 'js/site-custom.js' %}"></script>

    <script src="{% static 'js/codemirror-5.22.0/lib/codemirror.js' %}"></script>

    <script src="{% static 'js/codemirror-5.22.0/addon/mode/loadmode.js' %}"></script>
    <script src="{% static 'js/codemirror-5.22.0/mode/meta.js' %}"></script>



    <script>
    {% block javascript %}{% endblock %}
    </script>
</html>