{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block javascript %}

    $(document).ready(function () {
        var json = {{projects|safe}};
        var displayTable = document.getElementById('data-table');
        var row;

        for (var i = 0; i < json.length; i++) {

            row = $('<tr id=' + json[i].fields.name + ' />');
            var lnk = '<td><a href="'+json[i].fields.name+'">'+json[i].fields.name+'</a></td>';

            row.append(lnk);
            row.append("<td>" + Date(json[i].fields.created_datetime) + "</td>");

            $('#data-table').append(row);
        }
    });

{% endblock %}

{% block content %}


<hr>
<div class="container">
    <div class="col-md-2">

        <div class="list-group">

            <a href="/new" class="list-group-item">New</a>

        </div>
    </div>

    <div class="col-md-8">
        <table class="table" id="data-table">
        </table>

    </div>

</div>
{% endblock %}