{% extends 'base.html' %}

{% block javascript %}





{% endblock %}

{% block content %}


<hr>
<div class="container">
    <div class="col-md-2">

        <div class="list-group">
            <a href="#!" class="list-group-item">
                <form action="add" method="post" enctype="multipart/form-data" class="fileupload form-inline">
                    {% csrf_token %}
                    <label for="upload"><span id="filename">Upload File</span></label>
                    <input type="file" name="data-file" id="upload" class="upload" accept=".md,.markdown" onchange="updateUpload()">
                </form>
            </a>

            <a href="/new" class="list-group-item">
                Create New
            </a>
            <!--
            <a href="#!" class="list-group-item">
                URL
            </a>
            -->

        </div>
    </div>

    <div class="col-md-8">

    <table class="table table-bordered">
    {% for ea in data %}
        <tr>
            <td>
                <a href="view/{{ea.store}}/{{ea}}">{{ea}}</a>
            </td>
            <td>
                {{ea.status}}
            </td>
            <td>
                {{ea.size}}
            </td>
            <td>
                {{ea.datetime}}
            </td>

        </tr>
    {% endfor %}


    </table>

    </div>

</div>
{% endblock %}