{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block js_include %}

    <script src="{% static 'js/index.js' %}"></script>

{% endblock %}


{% block javascript %}






{% endblock %}

{% block content %}


<hr>
<div class="container">
    <div class="col-md-2">
        <div class="list-group">
            <a href="/new" class="list-group-item">New</a>
        </div>
    </div>
    <div class="col-md-10">
        <table class="table file-list" id="data-table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

{% endblock %}