{% extends 'base.html' %}

{% block js_include %}
    <script src="{% static 'js/showdown.min.js' %}"></script>
{% endblock %}


{% block javascript %}

update();

function update(){
    var converter = new showdown.Converter(),
        text      = document.getElementById('md-raw').value,
        html      = converter.makeHtml(text);

    html = html.replace(/(?:\r\n|\r|\n)/g, '<br />');
    document.getElementById('md-render').innerHTML = html;

};




document.getElementById( 'md-raw' ).addEventListener( 'keydown', function( event ) {
    if ( event.keyCode === 9 ) {
        var selectionStartPos = this.selectionStart;
        var selectionEndPos   = this.selectionEnd;
        var oldContent        = this.value;

        // Set the new content.
        this.value = oldContent.substring( 0, selectionStartPos ) + "\t" + oldContent.substring( selectionEndPos );

        // Set the new cursor position (current position + 1 to account for the new tab character).
        this.selectionStart = this.selectionEnd = selectionStartPos + 1;

        // Prevent the default action (tabbing to the next field or control).
        event.preventDefault();
    }
});


function match(){

    var stat = document.getElementById('localconsole');

    var a = document.getElementById('md-raw');
    var b = document.getElementById('md-render');

    stat.innerHTML = a.scrollTop + ', ' + (b.scrollTop/(b.scrollHeight-b.offsetHeight));

};


{% endblock %}


{% block content %}
<form action="add" method="post" class="form-inline">
<div class="container">
    <div class="col-md-12">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control md-title" name="title" value="{{file_obj.name}}" placeholder="Title">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save</button>
            </div>
    </div>

</div>


<div class="container">
    <div class="col-md-6">
        <textarea class="md-input" id="md-raw" name="body" onscroll="match();" onkeyup="update()">{{filedata|safe}}</textarea>
    </div>

    <div class="col-md-6">
        <div class="md-output" id="md-render" onscroll="match();"></div>
    </div>

</div>
</form>
{% endblock %}